.footer {
  display: flex;
  flex-direction: row;
  width: 100%;
  justify-content: space-between;
  padding: 0.6rem;
  font-family: "ZenKaku";
  font-size: 0.6rem;
  align-items: center;
  color: #959595;
  background-color: white;
}

.filters {
  list-style: none;
  display: flex;
  flex-direction: row;
}

.filters li button,
button {
  text-transform: capitalize;
  font-size: 0.6rem;
  border: none;
  background-color: transparent;
  font-family: "ZenKaku";
  color: #959595;
  cursor: pointer;
}

.active {
  border: 1px solid rgb(227, 189, 184);
  border-radius: 2px;
}
