* {
  margin: 0;
  box-sizing: border-box;
}

html {
  font-size: 25px;
}

@font-face {
  font-family: "ZenKaku";
  src: url("./fonts/ZenKakuGothicNew-Light.woff2") format("woff2");
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "ZenKaku";
  src: url("./fonts/ZenKakuGothicNew-Regular.woff2") format("woff2");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

#root {
  max-width: 100vw;
  min-height: 100vh;
  font-family: "ZenKaku";
  background-color: rgba(230, 223, 223, 0.5);
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.title {
  font-weight: 300;
  color: rgb(227, 189, 184);
  font-size: 4rem;
}

.container {
  display: flex;
  flex-direction: column;
  width: 40%;
  margin: 0 auto;
}
